.best__seller {
  max-width: 120rem;
  margin: 9.6rem auto;
}

.best__seller-heading {
  font-size: 1.8rem;
  font-family: var(--font-1);
  margin-bottom: 4.2rem;
  margin-left: 2.4rem;
}

.best__seller-sneakers {
  padding: 0 2.4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  img {
    width: 100%;
    cursor: pointer;
  }
}

.best__seller-sneaker-container {
  img {
    width: 100%;
  }
  position: relative;
}
.best__seller-sneakers--name {
  font-size: 1.8rem;
  font-family: var(--font-2);
  font-weight: 700;
  text-align: center;
  margin-top: 2.4rem;
}

.best__seller-sneakers--price-section {
  display: flex;
  gap: 1.2rem;
  font-size: 1.6rem;
  font-weight: 700;
  justify-content: center;
  margin-top: 1.2rem;
  font-family: var(--font-1);
}
.best__seller-sneakers--discount {
  text-decoration: line-through;
  color: var(--clr-secondary-4);
}
.best__seller-sneakers--price {
  color: var(--clr-primary-3);
}

.best__seller-sneakers--quick-view {
  font-size: 2rem;
  text-align: center;
  font-family: var(--font-1);
  position: absolute;
  bottom: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  //   left: 13rem;
  font-weight: 700;
  cursor: pointer;
  padding: 1.2rem;
  width: 100%;
  height: 5rem;
  background-color: var(--clr-primary-2);
  color: var(--clr-primary);
  opacity: 0;
}

.mouse-enter {
  animation: opacity 0.4s ease;
  opacity: 10;
}
.mouse-leave {
  animation: opacity-inverse 0.4s ease;
}

@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 10;
  }
}

@keyframes opacity-inverse {
  0% {
    opacity: 10;
  }
  100% {
    opacity: 0;
  }
}

.best__seller-sneakers--sale {
  font-size: 1.4rem;
  font-family: var(--font-2);
  color: var(--clr-primary);
  width: 4.5rem;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -2rem;
  left: 91%;
  background-color: var(--clr-secondary-5);
  border-radius: 100%;
  z-index: 2;
}
